<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h3 class="m-0">Top<strong>Five</strong></h3>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">

            <%= link_to "My profile", profile_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My bookmarks", bookmarks_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Explore", boards_path, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Explore", boards_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="search">
      <%= form_tag boards_path, method: :get, class:"w-full" do %>
        <div class="search-bar p-1">
          <%= text_field_tag :query,
            params[:query],
            placeholder: "Top 5 _______",
            class: "w-full border-none px-1"
          %>
          <button class="button-primary remove-shadow button-small border-0"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
      <% end %>
    </div>

    <div class="karma-points">
      <%= image_tag 'karma.png', alt: "karma-points" %>
      <% if user_signed_in? %>
        <p class="m-0"><span class="font-bold"><%= current_user.karma_points %></span> karma points</p>
      <% else %>
        <p class="m-0">karma points</p>
      <% end %>
    </div>
  </div>
</div>
