<div class="container mx-auto">
  <div class="text-center w-100 margin-divider-top-small margin-divider-bottom-small">
    <h2><%= current_user.username %></h2>
    <ul class="flex justify-between mx-auto margin-divider-top-small">
      <li>
        <div class="flex text-gray-500">
          <%= image_tag 'karma.png', alt: "karma-points", class: "h-5 mr-2" %>
          <% if user_signed_in? %>
          <p><span class="font-bold m-0"><%= current_user.karma_points %> </span> karma points</p>
          <% end %>
        </div>
      </li>
      <li class="text-gray-500">
        <p><%= current_user.boards.count %> list created</p>
      </li>
      <li class="text-gray-500">
        <p><%= current_user.bookmarks.count %> bookmarks created</p>
      </li>
    </ul>
  </div>

  <div class="margin-divider-top-small margin-divider-bottom-small">
    <div class="text-center mb-4">
      <%= link_to "Modify profile", edit_user_registration_path, class:"button button-primary" %>
      <!--  <div class="button button-secondary">Share profile</div>  -->
    </div>
  </div>
  <div class="cards-2 margin-divider-bottom-small">
    <% @my_boards.each do |board| %>
      <%= render 'boards/top_card', board: board %>
    <% end %>
  </div>
  <div class="apple_pagination">
    <%= will_paginate @my_boards %>
  </div>
</div>
