<div class="container mx-auto mt-6">
  <%= turbo_frame_tag "new_contribution" do %>
    <div class="form-partial">
      <h2 class="margin-divider-bottom-small">Add a new contribution</h2>
        <%= simple_form_for [@board, @contribution] do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :url %>
          <%= f.button :submit, class:"button button-primary mt-2" %>
        <% end %>
    </div>
  <% end %>
</div>
