<div class="top-card">
  <h3><span class="top-card-shadow">Top 5 </span><%= board.title %></h3>
  <div class="top-card-contributions my-2">
    <% board.contributions.select('contributions.*, COUNT(points.id) AS points_count').left_joins(:points).group('contributions.id').order('points_count DESC').limit(5).each_with_index do |contribution, index| %>
      <div class="contribution">
        <h3><%= index + 1 %></h3>
        <p class="text-left"><%= contribution.name %></p>
        <div class="vote">
          <%= button_to contribution_points_path(contribution) do  %>
            <i class="fa-solid fa-plus text-purple"></i>
          <% end %>
          <p><%= contribution.points.count %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="flex justify-between align-middle absolute bottom-7 left-7">

    <div class="text-opacity-80">
      <% board.hashtags.each do |hashtag| %>
        #<%= hashtag.title %>
      <% end %>
    </div>
  </div>
    <div class="absolute bottom-7 right-7">
      <span class="me-1">See More</span>
      <%= link_to board_path(board), remote: true, class:"button-secondary button-small" do  %>
        <i class="fa-solid fa-arrow-right"></i>
      <% end %>
    </div>
</div>
