<div class="top-card">
  <h3 class="top-card-header"><span class="top-card-shadow">Top 5 </span><%= board.title %></h3>
  <% if user_signed_in? && (current_user.bookmarks.pluck(:board_id).include? (board.id)) %>
    <%= link_to bookmark_path(board.bookmarks.find_by_user_id(current_user.id)), data: {turbo_method: :delete}, class:"bookmark" do %>
      <h3><i class="fa-solid fa-bookmark"></i></h3>
    <% end %>
  <% else %>
    <%= link_to board_bookmarks_path(board), data: {turbo_method: :post}, class:"bookmark" do %>
      <h3><i class="fa-regular fa-bookmark"></i></h3>
    <% end %>
  <% end %>
  <div class="top-card-contributions my-2">
    <% board.contributions.select('contributions.*, COUNT(points.id) AS points_count').left_joins(:points).group('contributions.id').order('points_count DESC').limit(5).each_with_index do |contribution, index| %>
      <div class="contribution">
        <h3><%= index + 1 %></h3>
        <p class="flex-grow text-left px-5"><%= contribution.name %></p>
        <div class="vote">
          <%= button_to contribution_points_path(contribution) do  %>
            <i class="fa-solid fa-plus"></i>
          <% end %>
          <p><%= contribution.points.count %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="flex justify-between align-middle absolute bottom-7 left-7">

    <div class="text-opacity-80">
      <% board.hashtags.each do |hashtag| %>
        #<%= hashtag.title %>
      <% end %>
    </div>
  </div>
    <div class="absolute bottom-7 right-7">
      <span class="me-1">See More</span>
      <%= link_to board_path(board), remote: true, class:"button-secondary button-small" do  %>
        <i class="fa-solid fa-arrow-right"></i>
      <% end %>
    </div>
</div>
