<div class="my-container mt-6 text-center">
  <h2 class="margin-divider-bottom-small">Your search for <br><strong><%= @query %> Top 5s</strong></h2>
  <div class="margin-divider-top-small margin-divider-bottom-small">
    <div class="position-mid-end mb-4">
      <%= link_to "+ Add new board", new_board_path, class:"button button-primary" %>
    </div>
  </div>
  <div class="cards-2 margin-divider-bottom-small">
    <% @boards.each do |board| %>
      <%= render 'top_card', board: board %>
    <% end %>
  </div>

  <div class="apple_pagination">
    <%= will_paginate @boards %>
  </div>

  <%= render "shared/explore_categories", hashtags: @hashtags %>
</div>
