<div class="container mt-6 text-center">
  <h2>Add a new board</h2>
  <div class="form-partial">
    <%= simple_form_for @board do |f| %>
      <%= f.label :title %>
      <div class="top-five-name">
        <p class="top-five-tag">Top 5</p>
        <%= f.input :title, label: false, input_html: { class:"padding-left-60px underline-placeholder" }, placeholder: "               " %>
      </div>
      <%= f.input :description %>
      <%= f.input :hashtag_ids, collection: Hashtag.pluck(:title, :id), input_html: { multiple: true, class: "selectize", data: { controller: "selectize" } } %>
      <%= f.button :submit, class:"button button-primary px-0 w-full" %>
    <% end %>
  </div>
</div>
