<div class="my-container mt-6 text-center">
  <div class="flex justify-between">
    <%# if request.referer.include? 'edit' %>
      <%#= link_to "< Back", profile_path, class:"text-decoration-none text-black" %>
    <%# else %>
      <%= link_to "< Back", boards_path, class:"text-decoration-none text-black" %>
    <%# end %>
    <% if user_signed_in? && @board.user == current_user %>
      <%= link_to "Edit", edit_board_path(@board), class:"button button-secondary" %>
    <% end %>
  </div>
  <h2 class="margin-divider-top-small">Top 5 <strong><%= @board.title %></strong></h2>
  <p class="text-gray-500 margin-divider-bottom-small">Created <%= @board.created_at.strftime("%d/%m/%Y") %></p>
  <div class="flex justify-between mx-auto margin-divider-bottom-small width-75-100">
    <p><strong><%= @board.contributions.pluck(:user_id).uniq.count %> contributors</strong></p>
    <p><strong><%= pluralize(Bookmark.where(board: @board).count, "time") %> bookmarked</strong></p>
    <p><strong><%= @board.contributions.count %> contributions</strong></p>
  </div>

  <div class="cards-horizontal margin-divider-bottom-small">
    <%= turbo_frame_tag dom_id(@board, "points") do %>
      <% @contributions.each_with_index do |contribution, index| %>
        <%= render 'contribution_card', contribution: contribution, index: index %>
      <% end %>
    <% end %>
  </div>

  <%= turbo_frame_tag "new_contribution" do %>
    <div class="margin-divider-bottom position-mid-end">
      <%= link_to "+ add contribution", new_board_contribution_path(@board), class:"button button-secondary" %>
    </div>
  <% end %>

  <div class="apple_pagination">
    <%= will_paginate @contributions %>
  </div>

  <%#= link_to "See more", board_contributions_path(@board), class:"button button-primary button-wide margin-divider-top" %>

  <%= render "shared/explore_categories", hashtags: @hashtags %>
</div>
